/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

 H2{
    font-family: 'Archivo Black', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    color: #000;
 }

 .linkSVG{
    width:fit-content;
 }

.ImageFlexbox{
    width:100%;
}
    
.GeneralContainer{
    background: #d5ccbf;
}

.BannerInicial{
    width:100%;
    display: block;
}

.BannerInicial img{
    width:100%;
}

.ContentContainer{
    background-image: url("../Images/Fondo.jpg");
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;
    margin-top:-1px;
}

.DesktopMenu{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}

.MenuSection{
    width:70%;
    display:flex;
    justify-content: flex-start;
}

.MenuImage{
    height:2.8vw;
    cursor:pointer;
    transition: transform .3s ease-out;
}

.MenuImage:hover {
    transform: translate(0, -2px);
  }

.SNSection{
    width:30%;
    display: flex;
    justify-content: flex-end;
    gap:1vw;
}

.SNImage{
    height:2vw;
    cursor:pointer;
    transition: transform .3s ease-out;
}

.SNImage:hover {
    transform: translate(0, -2px);
  }

.FirstRowContainer{
    display: flex;
    flex-direction: row;
    padding:0 8%;
    justify-content: center;
    align-items: center;
}

.FR01, .FR02{
    width:50%;
    align-items: center;
}

.FR02{
    padding:5% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.BotonPlataforma{
    height:5vw;
    cursor: pointer;
    transition: transform .3s ease-out;
}

.BotonPlataforma:hover {
    transform: translate(0, -7px);
  }

.SecondRowContainer{
    padding:4% 4% 0 4%;
    z-index: 2;
    position: relative;
}

.ThirdRowContainer{
    margin-top:-8%;
    z-index:1;
    position: relative;
}

.Image03Desktop{
    display:block;
}

.Image03Mobile{
    display:none;
}

.ImageArt{
    padding:5%;
    margin-top: -8%;
}

.FourthRowContainer{
    margin-top: -5%;
    padding:0;
    z-index: 2;
    position: relative;
}

.FifthRowContainer{
    display: flex;
    flex-direction: row;
    padding:4% 8%;
    justify-content: center;
    align-items: center;
}

.FifthR01, .FifthR02{
    padding:5%;

}

/* Mobile Menu*/

.MenuPrincipal{
    display: none;
 position: absolute;
 top:3vw;
 left:50%;
 transform: translateX(-50%);
}

.MenuPrincipal img{
    padding:0 !important;
    margin-top:0 !important;
}

.MenuIcon{
    width:8vw;
}

.overlay {  
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 20; 
    left: 0;
    top: 0;
    background-color: #020202ee; 
    overflow-y: hidden; 
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    width: 100%;
    text-align: center; 
}

.overlay a {
    line-height: 1.2em;
    text-decoration: none;
    font-size: 4vh;
    color: #fff;
    transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
    color: #fff;
    text-decoration: underline;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none!important;
}


@media (max-width: 800px){

H2{
    font-size: 8vw;
 }

.FirstRowContainer{ 
     flex-direction: column;
 }

 .DesktopMenu{
    display:none;
 }

 .MenuPrincipal{
    display: block;
 }

 .MenuImage{
    height:10vw;
    filter: invert(1);
 }

 .SNMobileSection{
    position: absolute;
    bottom:8vw;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    gap:3vw;
    align-items: center;
    justify-content: center;
}

 .SNImage{
    filter: invert(1);
    height:5vw;
 }
 .FR01, .FR02{
     width:100%;
 }

 .BotonPlataforma{
    height:10vw;
}

.Image03Desktop{
    display:none;
}

.Image03Mobile{
    display:block;
}

.FourthRowContainer{
    margin-top: 1%;
}

.FifthRowContainer{
    flex-direction: column;
 }

}
